.layout {
  color: var(--txt-color);
  
  .ant-layout-content {
    height: 84vh;
    overflow: auto;
  }

}

html {
  overflow: hidden;
}




.layout__content {
  padding-left: var(--sidebar-width);
  background-color: var(--second-bg);
  min-height: 100vh;
}

.layout__content-main {
  padding: 0 20px;
}
.header-layout{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}