.userCustom {
    width: 50px;
  }
  
  .order {
    min-width: 80px;
  }
  
  .price {
    width: 10px;
  }
  
  .user {
    word-wrap: none;
    min-width: 150px;
  }
  
  td {
    max-width: fit-content;
  }