.director-actor-container {
    display: flex;
    flex-direction: column;


    .content-container {
        .status-container {
            display: flex;
            gap: 10px;
            width: 100%;

            .status-item {
                flex: 0.25;
            }
        }
    }


}

