.movies-header {
  font-size: 1.4rem;
  font-weight: 600;
}
.card {
  display: flex;
  justify-content: flex-end;
}

.col-12 {
  .search-bar {
    position: absolute;
    z-index: 1;
  }
}
.card__body {
  position: relative;


  .btn-new {
    position: absolute;
    right: 120px;
  }
}
.ant-modal {
  width: 65% !important;
  // height: 500px !important;
  // top:10px !important;
}