.ant-table-pagination > .ant-pagination-options {
  display: none;
}
.ant-table-wrapper .ant-table-thead > tr > th {
  background-color: #f8f8f8;
  font-size: 1.1rem;
  align-items: center;
}
.ant-table-tbody {
  background-color: white;
  color: #000;

  .ant-table-row > .ant-table-cell-row-hover {
    background-color: #e0ecfb !important;
    cursor: pointer;
    color: #1c80dc;
  }
}
table {
  border-collapse: collapse;
  text-align: center;
  .ant-table-thead tr {
    border-top-width: 0px;
  }
  tr {
    border-color: #0f0f0f;
    border-top-width: 2px;
    border-bottom-width: 0px;
  }
}
.btn-operation {
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
  a {
    color: var(--main-color-red);
    &:hover {
      color: var(--main-color-red);
    }
  }
  .btn-edit {
    color: var(--main-color-green) !important;
  }
  .btn-delete {
    color: var(--main-color-red);
    &:hover {
      color: var(--main-color-red);
    }
  }
}

.btn-action {
  display: flex;
  justify-content: flex-end;
  .anticon .anticon-delete {
    font-size: 1.2rem !important;
    color: var(--txt-color) !important;
  }
  .icon-delete-all {
    color: #fff;
  }
  .btn-delete-all {
    margin-bottom: 10px;

    &:hover {
      color: var(--txt-color) !important;
    }
  }
}
